# Dependências do Node.js
node_modules/

# Ficheiro de segredos e senhas
# MUITO IMPORTANTE: Impede que as suas senhas vazem para o GitHub
.env

# Logs e ficheiros temporários
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ficheiros de Sistema Operacional
.DS_Store

# Ficheiros de IDE
.idea/
.vscode/